* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  color: #303030;
}

html {
  font-size: 16px;
  font-size: min(max(1rem, 4vw), 22px);
}

#loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  z-index: 1000;
}

#loading img {
  animation-name: hue-rotate;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 1.8s;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  padding: 0 1rem;
  background-color: transparent;
  z-index: 999;
  filter: invert(0.85);
  transition: all ease-in 300ms;
}

.header-scrolled {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px #ffffff7d;
}

header a {
  font-size: 1.5rem;
  color: #1f1f1f;
  text-decoration: none;
}

header a.logo-anchor {
  height: 80%;
  width: 128px;
}

header a.logo-anchor img {
  height: 100%;
  width: 100%;
  padding: 5px 0;
  // animation-name: hue-rotate;
  // animation-timing-function: linear;
  // animation-iteration-count: infinite;
  // animation-duration: 7.2s;
}

header a.resume {
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  text-decoration: none;
  margin-left: auto;
  font-size: .8rem;
  padding: .2rem .6rem;
  appearance: button;
  background-color: #000;
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
  font-weight: 400;
  line-height: 20px;
  overflow: visible;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:active {
    box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
    outline: 0;
    box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
    transform: translate(2px, 2px);

  }
  
}

@keyframes hue-rotate {
  @for $i from 0 through 100 {
    #{$i * 1%} {
      filter: hue-rotate(#{$i * 3.6} + deg);
    }
  }
}

#hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 1rem;
  background-size: cover;
  background-position: center;
  background-color: #000000;
}

#hero p:nth-child(1) {
  font-size: 2.5rem;
  color: rgb(247 247 247 / 75%);

  background-clip: text;
  background-image: linear-gradient(180deg, rgb(255 255 255 / 85%), rgb(255 255 255 / 40%));
  -webkit-text-fill-color: transparent;
}

#hero p:nth-child(2) {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#hero p:nth-child(2) span {
  padding: 0 1rem;
  display: flex;
  align-items: center;
  color: #1a2228;
  color: rgb(255 255 255 / 50%);
  background-image: linear-gradient(180deg, rgb(255 255 255 / 65%), rgb(255 255 255 / 50%));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#hero p:nth-child(2) span:not(:last-child) {
  margin-right: 1rem;
}

.tech-stack {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  position: relative;

  svg {
    width: 1.25rem;
    aspect-ratio: 1;
    transition: all 200ms;
  }

  &-name {
    display: none;
    margin-top: 0.5rem;
    color: #919191;
    position: absolute;
    top: 100%;
  }
}

#about {
  // min-height: calc(100vh - 60px);
  min-height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
  place-content: center;
  /* box-shadow: inset 1px 1px 4px rgb(0 0 0 / 47%); */
}

section:nth-of-type(odd):not(:first-child) {
  background-color: #1b1b1b;

  h3 {
    color: #ebebeb !important;
  }
}

#tech-stack {
  display: block;
  // place-content: normal;

  .stack-icons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(4rem, 6rem));
    width: 100%;
    gap: 1rem;
    place-items: center;
    place-content: center;
  }
  .stack-icon {
    display: inline-block;
    width: 6rem;
    height: 6rem;

    i {
      font-size: 6rem;
    }
  }
}

section h3 {
  width: 100%;
  /* height: 4rem; */
  text-align: center;
  margin: 0;
  padding: 2rem 1rem 1rem 1rem;
  font-size: 2rem;
  font-weight: 300;
  text-shadow: 0.1rem 0.1rem 0 rgb(0 0 0 / 10%), 
    0.15rem 0.15rem 0 rgb(0 0 0 / 6%), 
    0.2rem 0.2rem 0 rgb(0 0 0 / 4%);
}

#about figure {
  width: 100%;
  margin: 0;
  padding: 1rem;
  display: grid;
  place-items: center;
}

#about figure img,
#about figure .image-container {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  position: relative;
}

#about figure img {
  filter: blur(0.4px);
}

#about figure .image-container {
  box-shadow: -3px 3px 3px rgb(0 0 0 / 34%);
}

#about figure .image-container::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  background: linear-gradient(-126deg, rgb(0 0 0 / 21%) 0.19%, rgb(0 0 0 / 0%) 54.37%);
}

#about p {
  line-height: 1.7rem;
  font-family: "Hind", sans-serif;
  max-width: 650px;
  margin: 30px auto;
  // text-align: center;
  font-weight: 300;
  font-size: 1.05rem;
  padding: 1rem;
  background: #f7f7f7;
  // border-radius: 0.5rem;
  position: relative;

  &::before, &::after {
    position: absolute;
    content: "";
    height: 50px;
    width: 50%;
    bottom: 10px;
    box-shadow: 0px 3px 5px 5px rgb(0 0 0 / 20%);
    z-index: -1;
    border-radius: inherit;
  }

  &::before {
    left: 10px;
    transform: rotate(-3deg);
  }

  &::after {
    right: 10px;
    transform: rotate(3deg);
  }
}

#about a {
  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
  color: #0000dd;
}

footer {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // flex-direction: column;
  display: grid;
  place-content: center;
  place-items: center;
  padding: 1rem;
  background-color: #f7f7f7;

  a {
    text-decoration: none;
  }

  .socials {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    place-items: center;
    gap: 3rem;
    padding: 1rem;
    // max-width: 400px;
    width: 100%;

    a {
      width: 24px;
      height: 24px;

      img {
        filter: drop-shadow(1px 2px 1px rgba(0, 0, 0, 0.2));
        transition: filter, transform ease-out 200ms;
      }

      &:hover img {
        filter: drop-shadow(1px 2px 1px rgba(0, 0, 0, 0.3));
        transform: scale(1.2);
      }
    }
  }
}

.blur-tech {
  filter: blur(1px) grayscale(1);
}
