* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  /* margin: 0; */
  /* padding: 0; */
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  padding: 0 1rem;
  background-color: #f7f7f7;
  background-image: linear-gradient(top, #f7f7f7, #e7e7e7);
  box-shadow: 0px 1px 3px #aaa;
}

nav a {
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
}

nav img {
  margin-left: auto;
}

#hero {
  margin-top: 60px;
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 1rem;
  background-image: url("../assets/herobg.jpg");
  background-size: cover;
  background-position: center;
}

#hero p:nth-child(1) {
  font-size: 2.5rem;
}

#hero p:nth-child(2) {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#hero p:nth-child(2) span {
  padding: 0 1rem;
  /* background-color: #f7f7f7;
  background-image: linear-gradient(top, #f7f7f7, #e7e7e7);
  box-shadow: inset 2px 2px 2px 0 rgba(0, 0, 0, 0.2),
    inset 2px 0px 9px 0 rgba(255, 255, 255, 0.8);
  border-radius: 4px; */
  display: flex;
  align-items: center;
  height: 36px;
  color: #1a2228;
}

#hero p:nth-child(2) span:not(:last-child) {
  margin-right: 1rem;
}

#about {
  height: calc(100vh - 60px);
  width: 100%;
  box-shadow: inset 1px 1px 4px rgb(0 0 0 / 47%);
}

#about h3 {
  width: 100%;
  height: 4rem;
  text-align: center;
  margin: 0;
  padding: 1rem;
  font-size: 2rem;
}

#about figure {
  width: 100%;
  margin: 0;
  padding: 1rem;
  display: grid;
  place-items: center;
}

#about figure img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative;
}

#about figure img::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  background: linear-gradient(
    305.27deg,
    rgba(0, 0, 0, 0.7) 0.19%,
    rgba(0, 0, 0, 0) 54.37%
  );
}
